<div class="toolbar">
  <div class="logo">
    <img src="../assets/pics/logo.png" class="logo-image" />
  </div>

  <div class="right-side-content">
    <div class="d-none d-md-block">
      <div class="stock-info">
        <div class="stock-name"><h2>{{ metaData['2. Symbol'] }}</h2></div>
        <div class="stock-value">
          <p>$</p>
          <div class="end-of-day-info">
            <h3>{{ currentDayInfo.close | number: '1.2-2' }}</h3>
            <p>EOD Price</p>
          </div>
        </div>
        <div class="stock-percent-change">
          <img src="{{percentChangeImage}}" class="percent-change-image" />
          <p [style.color]="percentColor">
            {{ percentChange | number: '1.2-2' }}%
          </p>
        </div>
      </div>
    </div>
    <div class="search">
      <div class="d-none d-sm-block">
        <form class="search-form">
          <mat-form-field class="search-form-field">
            <mat-label>Search Stock or Company</mat-label>
            <input
              type="text"
              matInput
              (keyup.enter)="getSearchData($event.target.value)"
              [formControl]="myControl"
              [matAutocomplete]="auto"
            />
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option
                *ngFor="let option of filteredOptions | async"
                [value]="option"
                (click)="getSearchData($event.target.textContent)"
              >
                {{ option }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </div>
    </div>
  </div>
</div>

<ngx-ui-loader></ngx-ui-loader>

<div class="content container">
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <div class="body-title">
        <h5>Stock Market Statistics</h5>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 d-none d-lg-block">
      <div class="graph-card">
        <apx-chart
          [series]="series"
          [chart]="chart"
          [dataLabels]="dataLabels"
          [markers]="markers"
          [title]="title"
          [fill]="fill"
          [yaxis]="yaxis"
          [xaxis]="xaxis"
          [tooltip]="tooltip"
          [autoUpdateSeries]="true"
        ></apx-chart>
      </div>
    </div>

    <div class="col-lg-6 col-md-12">
      <div class="stock-info-card">
        <div class="title">
          <h1>
            Daily Time Series - Stock Info
          </h1>
        </div>
        <div class="subtitle">
          <h3>{{ stockTitle }}</h3>
        </div>
        <div class="stock-data">
          <div class="stock-info">
            <div class="stock-value">
              <p>$</p>
              <h3>{{ currentDayInfo.close | number: '1.2-2' }}</h3>
            </div>
            <div class="stock-percent-change">
              <img src="{{percentChangeImage}}" class="percent-change-image" />
              <p [style.color]="percentColor">
                {{ percentChange | number: '1.2-2' }}%
              </p>
            </div>
          </div>
          <div class="date">
            <h3>{{ currentDayInfo.date | date:'MMM d, y'}}</h3>
          </div>
        </div>

        <div class="stock-info-content-container">
          <div class="stock-info-content">
            <div class="content-title">
              <h5>Opened At</h5>
            </div>
            <div class="content-value">
              <p>$</p>
              <h5>{{ currentDayInfo.open | number: '1.2-2' }}</h5>
            </div>
          </div>
          <hr />
          <div class="stock-info-content">
            <div class="content-title">
              <h5>Closed At</h5>
            </div>
            <div class="content-value">
              <p>$</p>
              <h5>{{ currentDayInfo.close | number: '1.2-2' }}</h5>
            </div>
          </div>
          <hr />
          <div class="stock-info-content">
            <div class="content-title">
              <h5>Trade Period Prices</h5>
            </div>
            <div class="content-value-trade-period">
              <div class="content-value-trade-period-item">
                <div class="content-value-subtitle">
                  <p>Low:</p>
                </div>
                <div class="content-value">
                  <p>$</p>
                  <h5>{{ currentDayInfo.low | number: '1.2-2' }}</h5>
                </div>
              </div>
              <div class="content-value-trade-period-item">
                <div class="content-value-subtitle">
                  <p>High:</p>
                </div>
                <div class="content-value">
                  <p>$</p>
                  <h5>{{ currentDayInfo.high | number: '1.2-2' }}</h5>
                </div>
              </div>
            </div>
          </div>
          <hr />
          <div class="stock-info-content">
            <div class="content-title">
              <h5>Volume</h5>
            </div>
            <div class="content-value-volume">
              <h5>{{ currentDayInfo.volume | number: '1.0-0'}}</h5>
            </div>
          </div>
          <hr />
          <div class="stock-info-content">
            <div class="content-title">
              <h5>Price Percent Change</h5>
            </div>
            <div class="content-value-percent">
              <h5>{{ percentChange | number: '1.2-2' }}%</h5>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12 d-lg-none">
      <div class="graph-card">
        <apx-chart
          [series]="series"
          [chart]="chart"
          [dataLabels]="dataLabels"
          [markers]="markers"
          [title]="title"
          [fill]="fill"
          [yaxis]="yaxis"
          [xaxis]="xaxis"
          [tooltip]="tooltip"
          [autoUpdateSeries]="true"
        ></apx-chart>
      </div>
    </div>

    <div class="col">
      <div class="historical-data-card">
        <div class="title">
          <h1>
            Historical Data
          </h1>
        </div>
        <div class="subtitle">
          <h3>
            Last 10 Days
          </h3>
        </div>
        <div class="past-values">
          <div class="row justify-content-center">
            <div
              class="past-values-container col-lg-5 col-md-8"
              *ngFor="let historicalDay of sideMenuData"
              (click)="updateInfo(historicalDay)"
            >
              <div class="title">
                <h3>{{ historicalDay.date | date:'EE, MMM d' }}</h3>
              </div>

              <div class="past-value-body">
                <div class="past-value-item">
                  <p class="subtitle">
                    Closing Price:
                  </p>
                  <p class="value">
                    ${{ historicalDay.close | number: '1.2-2' }}
                  </p>
                </div>
                <div class="past-value-item">
                  <p class="subtitle">
                    Volume:
                  </p>
                  <p class="value">
                    {{ historicalDay.volume | number: '1.0-0' }}
                  </p>
                </div>
                <div class="past-value-item">
                  <p class="subtitle">
                    Percent Change:
                  </p>
                  <div class="value-percentage">
                    <img
                      src="{{historicalDay.percentChangeImage}}"
                      class="percent-change-image"
                    />
                    <p [style.color]="historicalDay.percentColor">
                      {{ historicalDay.percentChange | number: '1.2-2' }}%
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
