.toolbar {
  background-color: #fff;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toolbar .logo {
  padding: 0rem 1rem 0rem 4.5rem;
}

.toolbar .logo .logo-image {
  width: 10rem;
}

.toolbar .right-side-content {
  display: flex;
  justify-content: space-around;
}

.right-side-content .stock-info {
  display: flex;
  justify-content: space-around;
  padding: 1rem 1rem 0 0;
}

.right-side-content .stock-info .stock-name h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0.4rem 1.5rem 0 0;
  color: #0994d4;
}

.right-side-content .stock-info .stock-value {
  display: flex;
  justify-content: space-between;
  padding-right: 0.5rem;
}

.right-side-content .stock-info .stock-value p {
  font-weight: 600;
  padding-top: 0.15rem;
}

.right-side-content .stock-info .stock-value .end-of-day-info h3 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0;
  margin-left: 0.15rem;
}

.right-side-content .stock-info .stock-value .end-of-day-info p {
  font-size: 0.85rem;
  font-weight: 600;
  color: #969292;
}

.right-side-content .stock-info .stock-percent-change {
  text-align: center;
}

.right-side-content .stock-info .stock-percent-change .percent-change-image {
  height: 1.45rem;
  margin-top: 0.1rem;
}

.right-side-content .stock-info .stock-percent-change p {
  font-size: 0.95rem;
  font-weight: 800;
  padding-top: 0.35rem;
}

.right-side-content .search {
  display: flex;
  align-items: center;
}

.right-side-content .search .search-form {
  min-width: 18.75rem;
  max-width: 31.25rem;
  padding-right: 1rem;
  margin-left: 1rem;
}

.right-side-content .search .search-form .search-form-field {
  width: 100%;

  font-size: 1.15rem;
}

.content {
  margin-top: 1.875rem;
}

.container {
  max-width: 85rem;
}

.body-title h5 {
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: #969292;
}

.graph-card,
.stock-info-card,
.historical-data-card {
  background-color: #fff;
  border-radius: 1rem;
  padding: 1.5rem;
  margin-top: 2rem;
}

.stock-info-card .title h1 {
  color: #22a8ee;
  font-size: 1.25rem;
  font-weight: 700;
}

.stock-info-card .subtitle {
  margin: 1.5rem 0 2.5em;
}

.stock-info-card .subtitle h3 {
  color: #969292;
  font-size: 2.25rem;
  font-weight: 700;
}

.stock-info-card .stock-data {
  display: flex;
  justify-content: space-between;
}

.stock-info-card .stock-data .stock-info {
  display: flex;
  padding-right: 1rem;
}

.stock-info-card .stock-data .stock-info .stock-value {
  display: flex;
  justify-content: space-between;
  padding-right: 0.5rem;
}

.stock-info-card .stock-data .stock-info .stock-value p {
  font-size: 1.2rem;
  font-weight: 600;
  padding-top: 0.15rem;
}

.stock-info-card .stock-data .stock-info .stock-value h3 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0;
  margin-left: 0.15rem;
}

.stock-info-card .stock-data .stock-info .stock-percent-change {
  display: flex;
  justify-content: space-between;
}

.stock-info-card
  .stock-data
  .stock-info
  .stock-percent-change
  .percent-change-image {
  height: 1.5rem;
  margin-top: 0.15rem;
}

.stock-info-card .stock-data .stock-info .stock-percent-change p {
  font-size: 1rem;
  font-weight: 800;
  padding-top: 0.35rem;
  padding-left: 0.3rem;
}

.stock-info-card .stock-data .date h3 {
  color: #f38819;
  font-size: 1.75rem;
  font-weight: 700;
}

.stock-info-card .stock-info-content-container {
  margin-top: 1.5rem;
}

.stock-info-card .stock-info-content-container .stock-info-content {
  display: flex;
  justify-content: space-between;
}

.stock-info-content .content-title h5 {
  color: #969292;
  font-weight: 700;
  font-size: 1rem;
}

.stock-info-content .content-value {
  display: flex;
  justify-content: space-between;
}

.stock-info-content .content-value p {
  font-weight: 600;
  font-size: 0.9rem;
}

.stock-info-content .content-value h5 {
  font-weight: 700;
  margin-bottom: 0;
  margin-left: 0.15rem;
  font-size: 1.25rem;
}

.stock-info-content .content-value-trade-period-item {
  display: flex;
  justify-content: space-between;
  min-width: 7rem;
}

.stock-info-content .content-value-trade-period-item .content-value-subtitle p {
  font-size: 0.85rem;
  font-weight: 700;
  color: #969292;
  margin: 0 0.25rem 0 0;
}

.stock-info-content .content-value-volume h5 {
  font-weight: 700;
  margin-bottom: 0.9rem;
  font-size: 1.15rem;
}

.stock-info-content .content-value-percent h5 {
  font-weight: 700;
  margin-bottom: 0.9rem;
  font-size: 1.15rem;
}

.stock-info-card .stock-info-content-container hr {
  margin-top: 0rem;
}

.historical-data-card .title h1 {
  color: #22a8ee;
  font-size: 1.25rem;
  font-weight: 700;
}

.historical-data-card .subtitle h3 {
  color: #969292;
  font-size: 1.1rem;
  font-weight: 700;
}

.historical-data-card .past-values {
  margin-top: 1rem;
}

.historical-data-card .past-values .past-values-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1.5rem 0;
  cursor: pointer;
  border-radius: 0.35rem;
  border: 0.001rem solid #969292;
  margin: 0.5rem;

  background-position: center;
  transition: background 0.8s;
}

.historical-data-card .past-values .past-values-container:hover {
  background: #8080801a radial-gradient(circle, transparent 1%, #8080801a 1%)
    center/15000%;
}

.historical-data-card .past-values .past-values-container:active {
  background-color: #8080801a;
  background-size: 100%;
  transition: background 0s;
}

.past-values-container .title h3 {
  font-weight: 700;
  color: #f38819;
  font-size: 1.5rem;
}

.past-values-container .past-value-body {
  width: 50%;
}

.past-values-container .past-value-body .past-value-item {
  display: flex;
  justify-content: space-between;
}

.past-values-container .past-value-body .past-value-item .subtitle {
  color: #969292;
  font-size: 0.95rem;
  font-weight: 700;
}

.past-values-container .past-value-body .past-value-item .value {
  font-size: 1rem;
  font-weight: 700;
}

.past-values-container .past-value-body .past-value-item .value-percentage {
  display: flex;
  justify-content: space-between;
}

.past-values-container
  .past-value-body
  .past-value-item
  .value-percentage
  .percent-change-image {
  height: 1.15rem;
}

.past-values-container .past-value-body .past-value-item .value-percentage p {
  font-size: 0.75rem;
  font-weight: 800;

  padding-left: 0.3rem;
}
